/*缺省值begin*/
	html{ margin:0px; padding:0px;}
	body{ margin:0px; padding:0px; font-size:12px; font-family:微软雅黑,Microsoft YaHei,Tahoma, Geneva, sans-serif; color:#464646;}
	a{ text-decoration:none; outline:none; color:#666;}
	a:hover{ text-decoration:none; outline:none; color:#ff761b;}
	a:active, a:visited{ outline:none;}
	p,ul,li,form,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,div,table,td,th,input,textarea{ margin:0px; padding:0px;}
	h2,h3{font-size:14px;}
	input,textarea{font-family:微软雅黑,Microsoft YaHei,Tahoma, Geneva, sans-serif;outline:none;font-size:12px;color:#464646;}
	table,td{ border-collapse:collapse;}
	ul,li,dl,dt,dd,ol{ list-style:none;}
	.yahei{font-family:微软雅黑,Microsoft YaHei,Arial,"宋体";}
	.wrap{width:1056px;margin-left:auto; margin-right:auto;}
	img{ border:0 none;overflow:hidden; display:block;}
	em,i{font-style:normal;font-weight:normal;}
		
	.list-clearfix:after,
	.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.list-clearfix,
	.clearfix{zoom:1;}
		
	.no-character{font-size:0;}
	.fontlh{font:12px/1.5 tahoma,arial,\5b8b\4f53;}/*“\5b8b\4f53″ 就是 “宋体”。用 unicode 表示，不用 SimSun, 是因为 Firefox 的某些版本和 Opera 不支持 SimSun 的写法。避免产生乱码，对页面造成影响。*/
	.red{color:#ee383e;}.blue{color:#1aadc0;}
		
	.html-data p{ line-height:2; color:#333;}


	.container{ width:1190px; margin:0 auto;}
	.container_left{ float:left;}
	.container_right{ float:right;}
	.content01{ padding-top:12px;}
	.common{ margin-right:0px!important;}
	.hidden{ display:none;}
/*缺省值end*/

	/*下单CSS样式 start*/
	.txt_orange{ color:#ff7300;}
	.txt_gray{ color:#888888;}
	
	.container_system{ position:relative;}
	.container_system img{ width:100%; display:block;}
	.container_system .system_lists{ position:absolute; width:100%; top:0; left:0;}
	.container_system .system_lists ul{ padding:0px 1px;}
	.container_system .system_lists ul li{ width:297px; float:left; padding-top:60px;}
	.container_system .system_lists ul li .system_img{ width:79px; height:79px; padding:0px 24px 0px 8px;}
	.container_system .system_lists ul li .system_content{ width:180px;}
	.container_system .system_lists ul li .system_content h3{ font-size:18px; color:#ffffff; line-height:22px; font-weight:normal; padding-bottom:12px;}
	.container_system .system_lists ul li .system_content p{ font-size:12px; line-height:24px; color:#ffffff;}
	
	.conduct_title{ padding:34px 0px 0px 0px; border-bottom:1px solid #d6d6d6;}
	.conduct_title h3{ color:#222222; line-height:48px; font-size:24px; font-weight:normal;}
	.first_title{ padding:40px 0px 17px 0px;}
	.first_title h3{ color:#222222; font-size:16px; font-weight:normal; line-height:19px;}
	.first_title h3 span{ color:#888888; font-size:12px; line-height:12px; padding:7px 0px 0px 12px;}
	.first_title .conduct_problem{ padding-right:10px; cursor:pointer; position:relative;}
	.first_title .conduct_problem .problem_img{ width:19px; height:19px; display:block;}
	.first_title .conduct_problem p{ padding-left:5px; line-height:19px; font-size:12px; color:#909090;}
	.first_title .popup_box{ background:url(https://img.alicdn.com/tps/TB1EKXJMFXXXXb0XpXXXXXXXXXX-370-76.png) no-repeat; width:370px; height:76px; position:absolute; top:50%; margin-top:104px; left:50%; margin-left:227px; z-index:10;}
	.first_title .popup_box p{ padding:20px 0px 0px 15px; font-size:12px; line-height:22px; color:#909090;}
	.first_content{ width:1188px; height:80px; border:1px solid #d6d6d6; cursor:pointer;}
	.first_content h3{ color:#666666; font-size:14px; padding:20px 0px 0px 37px; line-height:14px; font-weight:normal;}
	.first_content p{ color:#666666; font-size:12px; padding:10px 0px 0px 37px; line-height:14px; font-weight:normal;}
	.first_content .first_price{ padding-top:28px;}
	.first_content span{ font-size:24px; color:#c2c2c2; line-height:26px; padding:0px 36px 0px 0px;}
	.first_selected{ background:url(https://img.alicdn.com/tps/TB1jCVFMFXXXXamXpXXXXXXXXXX-1190-82.jpg) no-repeat center; width:1190px!important; height:82px!important; border:none!important;}
	.second_content{ width:1205px; margin-right:-15px;}
	.second_content ul li{ width:221px; height:150px; border:1px solid #d6d6d6; cursor:pointer; float:left; margin-right:18px; text-align:center;}
	.second_content ul li p{ font-size:12px; color:#888888; line-height:14px; padding-top:36px;}
	.second_content ul li p.second_price{ font-size:26px; color:#ff7300; line-height:28px; padding-top:12px;}
	.second_content ul li p.second_unit{ padding-top:15px;}
	.second_content ul li.second_selected{ background:url(https://img.alicdn.com/tps/TB1xpNuMFXXXXbHXVXXXXXXXXXX-223-152.jpg) no-repeat; width:223px; height:152px; border:none;}
	.second_info{ margin-top:20px; width:100%; height:50px; background:#f5f5f5;}
	.second_info p{ color:#666666; line-height:50px; font-size:12px; padding-left:22px;}
	.total_price{ padding-top:50px;}
	.total_price p{ color:#333333; font-size:12px; line-height:12px;}
	.total_price .price_num{ color:#ff7300; font-size:34px; line-height:34px;}
	.second_agreement{ margin-top:25px;}
	.second_agreement .choice_area{ width:15px; height:15px; border:1px solid #c5c5c5; background:#fafafa; font-size:12px; color:#222222;}
	.second_agreement .agreement_txt{ color:#222222; font-size:12px; line-height:16px; padding-left:10px;}
	.second_submit{ padding:20px 0px 145px 0px;}
	.second_submit .submit_area{ width:190px; height:48px; background:#ff7300; text-align:center; font-size:16px; line-height:48px; color:#ffffff; display:block;}
	/*下单CSS样式 end*/